h1{
	background-color: blue;
	color: white;
	font-size: 100px;
	text-align: center;
	height: 100px;
	line-height: 100px; 

}

.row {
	background-color: beige	
}
h2 {
	font-size: 36px;
}

h3 {
	font-size: 36px;
}


#col1 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

#col2 {
	color: black;
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
}

#col3 {
	font-size: 24px;
	
}
